body img.gform_ajax_spinner {
  display: none!important;
}

.ginput_container_name{
  margin: 0 -15px;
  label{
    display:none;
  }
  > span:first-of-type{
    clear: none;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 50%;
    padding: 0 15px 10px;
    padding-right: 10px;
    margin:0;
  }
  > span:last-of-type{
    clear: none;
    float: right;
    padding-bottom: 10px;
    width: 50%;
    padding: 0 15px 10px;
    margin:0;
  }
}

.gform_wrapper {
  .validation_error,
  .validation_message {
      display: none;
  }
}

.gform_body {
  ul.gform_fields {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="tel"],
    textarea {
      width: 100%;
      border: 2px solid $color__green;
      background-color: transparent;
      outline: transparent;
    }
  }
}

::placeholder{
  color: $color__green;
}


.ginput_container_consent{
  font-size: 0.7rem;
  display: flex;
  align-content: center;
  align-items: center;
  label{
    margin: 0;
    margin-left: 0.7rem;
}
}

.sticky{
  z-index: 9;
}

#nullsoft-table{
  margin:  0 !important;
}


.hero.hero-home{
.sticky{
  height: 66px;
  width: 100%;
  z-index: 9;
  margin-top: -66px;
}
}
.form-live-reg-container{
  position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color__black;
    padding: 0.6rem 0;

#hey-live{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  label{
    display: none;
    &.error{
      color: #ec4242;
      font-size: 0.5rem;
      margin-bottom: 0;
      position: absolute;
      bottom: -0.6rem;
      left: 0;
  }
  }

  input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
        width: 100%;
        border: 2px solid $color__grey;
        background-color: transparent;
        outline: transparent;
        color: white;
        padding: 0.35rem 0.7rem;
        border-radius: 0.2rem;
        font-size: 0.8rem;
        margin-bottom: 0 !important;
        height: auto;
        &:active, &:focus{
            border: 2px solid $color__green; 
            outline: transparent;
        }
  }
  .form-group {
    margin-bottom: 0rem;
    position: relative;
}
.terms{
  font-size: 0.6rem;
  color: white;
  a{
    margin-left: 0.4rem;
  }
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  color: #2D2D2D;
  background: white;
  border: 2px solid white;
  &:hover{
          color: white;
          background: #2D2D2D;
  }
}
}

@media (min-width: 1800px) {
  .hero.hero-home{
    .sticky{
      height: 109px;
      margin-top: -109px;
    }
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
      width: 80%;
}
    }


}


@media (max-width: 991px){
.hero.mobile{
  .form-live-reg-container input[type="text"], .form-live-reg-container input[type="email"], .form-live-reg-container input[type="url"], .form-live-reg-container input[type="password"], .form-live-reg-container input[type="search"], .form-live-reg-container input[type="number"], .form-live-reg-container input[type="tel"], .form-live-reg-container input[type="range"], .form-live-reg-container input[type="date"], .form-live-reg-container input[type="month"], .form-live-reg-container input[type="week"], .form-live-reg-container input[type="time"], .form-live-reg-container input[type="datetime"], .form-live-reg-container input[type="datetime-local"], .form-live-reg-container input[type="color"], .form-live-reg-container textarea {
    margin-bottom: 1rem !important;
}
  .form-live-reg-container{
    width: 100% !important;
    position: relative;
    bottom: unset;
    padding: 2rem 0;
    margin: 2rem 0;
    #hey-live {
      display: table;
  }
  }
  .form-live-reg-container button, .form-live-reg-container input[type="button"], .form-live-reg-container input[type="reset"], .form-live-reg-container input[type="submit"] {
    color: #2D2D2D;
    background: white;
    border: 2px solid white;
    display: table;
    width: auto !important;
    margin: 0.5rem 0 0 auto !important;
}
}
}
