.masthead {
  // background: #f0f0f0;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 910;
  transition: all .2s linear;
  background-color: white;
  border-bottom: 1px solid #dce0df;

  .container {
    width: 100%;
    // max-width: 1400px;
    // padding: 10px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    display: block;
    padding: 0.7rem 0;
    img {
      height: 55px;
    }
  } 
}

#masthead-floating {
  display: none;
  position: fixed;
  box-shadow: 0px 0px 24px -6px rgba(0,0,0,0.36);
  transform: translateY(-100%);
  opacity: 0;
  transition: all .3s ease-in-out;
}

#masthead-floating.headroom--not-top.headroom--pinned {
  transform: translateY(0);
  opacity: 1;
}

.primary-menu {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 1.5rem;
  padding: 0 0 0 0.75rem;
border-left: 1px solid #dce0df; 
  li {
    padding: 0.7rem 0.75rem;
    &.menu-black{
      a{
      padding: 0.35rem 0.8rem;
      background-color: $color__black;
      border: 2px solid $color__black;
      color: white;
      &:hover{
        background-color: transparent;
        color: $color__black;
      }
      }
    }
      &.menu-transparent{
        a{
        padding: 0.35rem 0.8rem;
        background-color: transparent;
        border: 2px solid $color__black;
        color: $color__black;
        &:hover{
          background-color: $color__black;
          color: white;
        }
        }
  }
    a {
      font-size: 0.8rem;
      color: $color__black;
      text-decoration: none;
      transition: all .3s ease;
      font-weight: 600;
      &:hover{
        color: $color__green;
      }
    }

    &:last-child {
      padding-right: 0;
      a {
        // padding-right: 0;
      }
    }
  }

  > li.menu-item-has-children {
    position: relative;
li:last-child{
  padding: 0.7rem 0.75rem;
}
    a {
      i {
        margin-left: 5px;
      }
    }

    &:hover {
      > ul.sub-menu {
        display: inline-block;
        opacity: 1;
      }
    }
  }

  ul.sub-menu {
    min-width: 135px;
    position: absolute;
    top: 100%;
    left: 50%;
    background: $color__black;
    padding: 10px 15px;
    margin: 0;
    list-style-type: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.14);
    display: none;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .4s ease;

    li {
      a {
        display: inline-block;
        font-size: 0.8rem;
        white-space: nowrap;
        color: white;
        &:hover{
          color: $color__green;
        }
      }
    }
  }
}

#menu-menu-2{
  .menu-item-has-children{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 1.5rem;
    ion-icon{
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      transition: all .3s ease;
  }
    > a{
      margin-right: 0.2rem;
    }
    &:hover{
      ion-icon{
        color: $color__green;
          animation: bounce 1s linear infinite;
      
      @keyframes bounce {
        0% {
          transform: translateY(-50%);
        }
        50%{
          transform: translateY(-30%);
        }
        100% {
          transform: translateY(-50%);
        }
      }
    }
    }
  }
}


.cart-counter {
  position: relative;

  .header-cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background: red;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 100%;
  }
} 

@media (max-width: 1200px){
  .second-menu{
    padding-right: 3.3rem;
  }
  .hamburger {
    position: absolute;
    z-index: 3;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 55px;
    padding-right: 0;
}

}

@media (max-width: 991px){
.mobile-change.primary-menu {
  margin: 0 0 0 0rem;
  padding: 0 0 0 0rem;
  border-left: 0px solid #dce0df;
li.menu-black a {
    padding: 0;
    background-color: transparent;
    border: 0px solid #2D2D2D;
    color: $color__green;
}

li.menu-transparent a {
  padding: 0;
  background-color: transparent;
  border: 0px solid #2D2D2D;
  color: black;
}
.menu-item-has-children{
  display: none !important;
}
}
.masthead .logo img {
  height: 35px;
}
}

@media (max-width: 658px){
#menu-menu-2 li a {
  font-size: 0.7rem;
}
.masthead .logo img {
  height: 32px;
}
.hamburger-box,.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 35px;
}
}